.addingredient__container {
  margin-bottom: 4rem;
}

.addingredient__title {  
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.addingredient__form {
  display: flex;
  flex-direction: column;
}

.addingredient__form__label {
  margin-bottom: 0.5rem;
  font-size: small;
}

.addingredient__form__field {
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
}