.ingredients {
  display: flex;
  flex-direction: row;
}

.ingredients__left {
  padding: 2rem;
  width: 20%;
  height: 100lvh;
  border-right: solid;
  border-width: 0.1rem;
}

.ingredients__right {
  padding: 2rem;
}

.ingredients__right__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredients__list {
  display: flex;
  flex-direction: column;
}

.ingredients__button {
  padding: 1rem;
  border-radius: 3rem;
  background-color: rgb(255, 213, 135);
  cursor: pointer;
}

.ingredients__button:hover {
  background-color: orange;
}

.ingredients__left__addbtn {
  margin-top: 2rem;
}