.saveurs__table {
  text-align: left;
  border-width: 1px;
  border-color: lightgrey;
  margin-bottom: 3rem;
}

.onesaveur__table__table {
  text-align: left;
  border-width: 1px;
  border-color: lightgrey;
  margin-bottom: 3rem;
}

.saveurs__table__cell {
  padding: 0.5rem;
  text-align: left;
  border: solid;
  border-width: 1px;
  border-color: lightgrey;
}

.saveurs__table__cell--link:hover {
  background-color: orange;
  transition: 300ms;
  cursor: pointer;
}

.saveurs__table__cell--delete {
  background-color: rgb(196, 74, 74);
  cursor: pointer;
}

.saveurs__table__cell--delete:hover {
  background-color: rgb(255, 0, 0);
  transition: 300ms;
}

.saveurs__table__editbtn {
  padding: 1rem;
  border-radius: 3rem;
  background-color: rgb(135, 255, 135);
  cursor: pointer;
  margin-bottom: 1rem;
}

.saveurs__table__editbtn:hover {
  background-color: rgb(70, 161, 70);
  transition: 300ms;
}

.saveurs__table__deleteBtn {
  padding: 1rem;
  border-radius: 3rem;
  background-color: rgb(255, 135, 219);
  cursor: pointer;
  margin-bottom: 1rem;
}

.saveurs__table__deleteBtn:hover {
  background-color: rgb(199, 24, 176);
  transition: 300ms;
}