.cats__table {
  text-align: left;
  border-width: 1px;
  border-color: lightgrey;
  margin-bottom: 3rem;
}

.cats__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: auto;
}

.cats__title {  
  font-weight: 600;
  margin-bottom: 1.5rem;
}

/* Form */

.cat__form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.cat__form__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cat__form__label {
  font-size: small;
  margin-bottom: 0.5rem;
}

.cat__form__multiple-choices {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 5rem;
  margin-bottom: 1.5rem;
}

.cat__form__multiple-choices__option {
  background-color: lightgrey;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.cat__form__multiple-choices__option:hover {
  background-color: red;
}

.cat__form__choices {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.cat__form__field {
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
}

.cats__one-cat__table {
  flex-wrap: nowrap;
  text-align: left;
  border-width: 1px;
  border-color: lightgrey;
  margin-bottom: 3rem;
}

/* Table */

.cats__one-cat__options {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 30%;
}

.cats__table__cell {
  padding: 1rem;
  text-align: left;
  border: solid;
  border-width: 1px;
  border-color: lightgrey;
}

.cats__table__cell--big {
  display: flex;
  flex-direction: row;
}

.cats__table__cell--link:hover {
  background-color: orange;
  transition: 300ms;
  cursor: pointer;
}

.cats__table__cell--delete {
  background-color: rgb(196, 74, 74);
  cursor: pointer;
}

.cats__table__cell--delete:hover {
  background-color: rgb(255, 0, 0);
  transition: 300ms;
}

.cats__table__mini-element {
  margin-right: 0.5rem;
  padding: 0.5rem;
  border-radius: 2rem;
  background-color: bisque;
}

.cats__table__editbtn {
  padding: 1rem;
  border-radius: 3rem;
  background-color: rgb(135, 255, 135);
  cursor: pointer;
  margin-bottom: 1rem;
}

.cats__table__editbtn:hover {
  background-color: rgb(70, 161, 70);
  transition: 300ms;
}

.cats__table__deleteBtn {
  padding: 1rem;
  border-radius: 3rem;
  background-color: rgb(252, 101, 101);
  cursor: pointer;
  margin-bottom: 1rem;
}

.cats__table__deleteBtn:hover {
  background-color: rgb(199, 24, 24);
  transition: 300ms;
}


/* MODALES DES INGREDIENTS */

.modal {
  width: 100lvw;
  height: 100lvh;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3rem;
}

.modal__container {
  margin:auto;
  width: 80%;
  padding: 3rem;
  background-color: white;
  border-radius: 2rem;
  border: solid 2px;
}

.modal__headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  font-size: large;
  font-weight: 600;
}

.modal__btn {
  padding: 1rem;
  border-radius: 3rem;
  background-color: rgb(168, 168, 168);
}

.modal__btn:hover {
  background-color: grey;
  transition: 300ms;
}

.modal__form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 2rem;
}